@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* { padding: 0; margin: 0; }

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}



.mainmain{
  overflow: hidden;
  display: relative;
}

.main1{
  margin-left: -300px;
  z-index: 10;
}

.main{
  overflow: hidden;
  position: relative;
  width: 100%;
  
  /* left: 100px; */
}

/* .mainmain::before{
  
  position: absolute;
  content:"";
  top:0;
  left: 0;
  height:100%;
  width:100%;
  background: rgba(0,0,0,0.6);
  z-index: -100;
  opacity: 0;
}
 */

.overlay{
  display: none;
  position: fixed;
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  opacity: 0;
}